* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './secciones/colores';

header {
    .navbar-background {
        background-color: $azul;
    }

    .nav-link {
        color: $rojo  !important;

        &:hover {
            color: $naranja  !important;
        }
    }

    .dropdown-item {
        color: $rojo;
        background-color: $azul;
    }

    .logo {
        height: auto;
        max-width: 10rem;
    }

    .btn-outline-success {
        color: $rojo;
        border-color: $rojo;

        &:hover {
            color: white;
            border-color: $naranja;
            background-color: $rojo;
        }
    }
}

main {
    background-image: url(../images/BackgroundMain.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    p {
        color: $azul;
    }

    .texto {
        color: $rojo;
    }

    .btn-primary {
        margin: 5px;
        background-color: $azulclaro;
        border-color: $azul;
    }

    //Cards
    .card {
        background-color: $gris;
        max-width: 20rem;
        display: flex;
        align-items: center;
        border-radius: 10px;

        &:hover {
            border-color: $naranja;
            border-width: 2px;
        }
    }

    .card-image {
        height: auto;
        max-width: 20rem;
        border-radius: 10px;
    }

    .card-button {
        color: $rojo;
        background-color: $azul;
        border-radius: 5px;

        &:hover {
            color: $naranja;
            background-color: $azulclaro;
            border-color: $rojo;
        }
    }

    .card-grid {
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    background-color: $azul;

    p {
        display: flex;
        justify-content: center;
        color: $rojo;
    }

    .grid {
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            &:hover {
                border: 1px solid $naranja;
                border-radius: 10px;
            }
        }
    }

    .redes {
        height: auto;
        max-width: 3rem;
    }
}

//Media Querys 
@media (max-width: 272px) {
    footer {
        .grid {
            display: grid;
            gap: 1em;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 180px) {
    footer {
        .grid {
            display: grid;
            gap: 1em;
            justify-items: center;
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 990px) {
    main{
    .card-grid {
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    }
}

@media (max-width: 658px) {
    main{
    .card-grid {
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    }
}